In [1]:
import pandas as pd
df=pd.read_csv('Nodes.csv')
df

         origin_id        lat         lon  new_id
0         29583117  31.111035  121.379876       0
1         29583119  31.113041  121.381794       1
2         29583122  31.123699  121.389421       2
3         29583123  31.124998  121.390436       3
4         29583124  31.128662  121.394361       4
5         29583125  31.134487  121.400456       5
6         29583126  31.136964  121.402879       6
7         29583127  31.137987  121.403920       7
8         30198387  31.112215  121.356796       8
9         30198389  31.113960  121.355893       9
10        30198391  31.114641  121.355447      10
11        30198392  31.121410  121.350587      11
12        30198395  31.135833  121.340009      12
13        30198397  31.140984  121.336193      13
14        30198398  31.142697  121.334961      14
15        30198402  31.159094  121.324669      15
16        30198403  31.165155  121.320877      16
17        30198404  31.175854  121.314149      17
18        30198405  31.184819  121.308503      18
19        30198406  31.194896  121.302161      19
20        30198407  31.201360  121.298126      20
21        30198408  31.202384  121.297627      21
22        30198409  31.203953  121.297107      22
23        30198411  31.219032  121.291904      23
24        30198412  31.219927  121.291836      24
25        30198413  31.221139  121.291914      25
26        30198414  31.222213  121.292118      26
27        30198415  31.230175  121.294372      27
28        30198416  31.230922  121.294448      28
29        30198417  31.231694  121.294459      29
...            ...        ...         ...     ...
446228  5027752075  31.326342  121.281705  446228
446229  5027752076  31.327155  121.276002  446229
446230  5027752077  31.327293  121.276436  446230
446231  5027752078  31.326711  121.276758  446231
446232  5027752079  31.326628  121.276238  446232
446233  5027766793  31.326522  121.281214  446233
446234  5027766794  31.326587  121.281408  446234
446235  5027766795  31.326311  121.281540  446235
446236  5027766796  31.326252  121.281340  446236
446237  5027766797  31.327009  121.278506  446237
446238  5027766798  31.327227  121.279125  446238
446239  5027766799  31.327300  121.279345  446239
446240  5027766800  31.327316  121.279377  446240
446241  5027766801  31.326833  121.279380  446241
446242  5027766802  31.326611  121.278691  446242
446243  5027766803  31.325935  121.279015  446243
446244  5027766804  31.326210  121.279823  446244
446245  5027766805  31.325914  121.279967  446245
446246  5027766806  31.325635  121.279152  446246
446247  5027766807  31.325984  121.279158  446247
446248  5027766808  31.325974  121.279130  446248
446249  5027766809  31.326128  121.279863  446249
446250  5027766810  31.326067  121.279893  446250
446251  5027766811  31.325653  121.279144  446251
446252  5027766812  31.325946  121.279047  446252
446253  5027766813  31.325960  121.279089  446253
446254  5027766814  31.326016  121.279254  446254
446255  5027766815  31.326030  121.279296  446255
446256  5027766816  31.325690  121.279314  446256
446257  5027772757  31.228909  121.401458  446257

[446258 rows x 4 columns]

In [2]:
def get_node_lat_lon(node_id):

    node=df[df.origin_id==node_id]
    return node.iloc[0,1],node.iloc[0,2]

print get_node_lat_lon(4727003825)


def cal_distance(nodeA,nodeB):
#     nodeA=eval(nodeA)
#     nodeB=eval(nodeB)
    from geopy.distance import vincenty
    latA,lonA=get_node_lat_lon(nodeA)
    latB,lonB=get_node_lat_lon(nodeB)
    a=(latA,lonA)
    b=(latB,lonB)

    distance=vincenty(a, b).m
    return distance
    
print cal_distance(4727003825,4727003824)

def distance(strlist):
    list=[eval(node_id) for node_id in eval(strlist)]
    
    dis=0
    for i in range(len(list)-1):
        dis=dis+cal_distance(list[i],list[i+1])
    return dis

(31.233874499999999, 121.48664840000002)
2.35017704417

In [3]:
ddf=pd.read_csv('highway.csv').loc[:,['id','nodes']]
# print ddf
ddf['from']=ddf['nodes'].apply(lambda x:eval(x)[0])
ddf['to']=ddf['nodes'].apply(lambda x:eval(x)[-1])

# from __future__ import division  
# ddf['distance']=ddf['nodes'].apply(lambda x: distance(x))
# ddf['speed']=(ddf['maxspeed']+ddf['minspeed'])/2
ddf['cost']=ddf['to'].apply(lambda x:1)
ddf

,id,nodes,from,to,cost
0,0,"['115443169', '1930275790']",115443169,1930275790,1
1,1,"['1930275790', '115443141', '115443115']",1930275790,115443115,1
2,2,"['115443115', '115443077']",115443115,115443077,1
3,3,"['115443077', '115442946', '119891632']",115443077,119891632,1
4,4,"['119891632', '1930275776']",119891632,1930275776,1
5,5,"['1930275776', '119891632']",1930275776,119891632,1
6,6,"['119891632', '115442946', '115443077']",119891632,115443077,1
7,7,"['115443077', '115443115']",115443077,115443115,1
8,8,"['115443115', '115443141', '1930275790']",115443115,1930275790,1
9,9,"['1930275790', '115443169']",1930275790,115443169,1
10,10,"['614391691', '73569654']",614391691,73569654,1
11,11,"['73569654', '88047791', '100115120']",73569654,100115120,1
12,12,"['100115120', '100112298']",100115120,100112298,1
13,13,"['100112298', '88064245', '73569583']",100112298,73569583,1
14,14,"['73569583', '73213800']",73569583,73213800,1
15,15,"['73213800', '88063950', '88080908', '66909379']",73213800,66909379,1
16,16,"['66909379', '66908824']",66909379,66908824,1
17,17,"['66908824', '88082282', '101102967']",66908824,101102967,1
18,18,"['101102967', '61104104']",101102967,61104104,1
19,19,"['61104104', '101102967']",61104104,101102967,1
20,20,"['101102967', '88082282', '66908824']",101102967,66908824,1
21,21,"['66908824', '66909379']",66908824,66909379,1
22,22,"['66909379', '88080908', '88063950', '73213800']",66909379,73213800,1
23,23,"['73213800', '73569583']",73213800,73569583,1
24,24,"['73569583', '88064245', '100112298']",73569583,100112298,1
25,25,"['100112298', '100115120']",100112298,100115120,1
26,26,"['100115120', '88047791', '73569654']",100115120,73569654,1
27,27,"['73569654', '614391691']",73569654,614391691,1
28,28,"['62542556', '1768006193', '558640325']",62542556,558640325,1
29,29,"['558640325', '1768006012']",558640325,1768006012,1
...,...,...,...,...,...
94588,94588,"['844705903', '92600767', '92600777', '1754441...",844705903,1754441758,1
94589,94589,"['1754441758', '92601369', '461764248']",1754441758,461764248,1
94590,94590,"['1754441786', '1754441738', '827645860', '827...",1754441786,827646916,1
94591,94591,"['827646916', '1618053320', '1618053317', '161...",827646916,827645863,1
94592,94592,"['827645863', '1754441781']",827645863,1754441781,1
94593,94593,"['5002541034', '476794486']",5002541034,476794486,1
94594,94594,"['476794486', '5002541034']",476794486,5002541034,1
94595,94595,"['5002541034', '5002541033']",5002541034,5002541033,1
94596,94596,"['5002541033', '5002541031']",5002541033,5002541031,1
94597,94597,"['5002561614', '5017787783', '5017787789', '50...",5002561614,5017787788,1
94598,94598,"['5021594340', '5021594341', '5021594342', '34...",5021594340,3492884489,1
94599,94599,"['3492884489', '5021594342', '5021594341', '50...",3492884489,5021594340,1
94600,94600,"['5022044496', '5022044498']",5022044496,5022044498,1
94601,94601,"['5022044498', '5022044496']",5022044498,5022044496,1
94602,94602,"['5022044499', '5022044500']",5022044499,5022044500,1
94603,94603,"['5022044500', '5022044499']",5022044500,5022044499,1
94604,94604,"['5022044498', '5022044499']",5022044498,5022044499,1
94605,94605,"['5022044499', '5022044498']",5022044499,5022044498,1
94606,94606,"['5022044501', '5022044497']",5022044501,5022044497,1
94607,94607,"['5022044497', '5022044501']",5022044497,5022044501,1
94608,94608,"['5022044500', '5022044501']",5022044500,5022044501,1
94609,94609,"['5022044501', '5022044500']",5022044501,5022044500,1
94610,94610,"['565166803', '5022044659']",565166803,5022044659,1
94611,94611,"['5022044659', '5022044660', '5022044661', '50...",5022044659,5022044678,1
94612,94612,"['5022044678', '5022044677']",5022044678,5022044677,1
94613,94613,"['5022044677', '5022044676', '5022044675', '50...",5022044677,5022044662,1
94614,94614,"['5022044662', '483172700']",5022044662,483172700,1
94615,94615,"['5022044662', '266083269']",5022044662,266083269,1
94616,94616,"['5027680432', '3930645456']",5027680432,3930645456,1
94617,94617,"['3930645456', '5027680432']",3930645456,5027680432,1

In [4]:
ddff=ddf.loc[:,['id','from','to','cost','nodes']] 
ddff.to_csv('Edges.csv',index=False)
ddff

,id,from,to,cost,nodes
0,0,115443169,1930275790,1,"['115443169', '1930275790']"
1,1,1930275790,115443115,1,"['1930275790', '115443141', '115443115']"
2,2,115443115,115443077,1,"['115443115', '115443077']"
3,3,115443077,119891632,1,"['115443077', '115442946', '119891632']"
4,4,119891632,1930275776,1,"['119891632', '1930275776']"
5,5,1930275776,119891632,1,"['1930275776', '119891632']"
6,6,119891632,115443077,1,"['119891632', '115442946', '115443077']"
7,7,115443077,115443115,1,"['115443077', '115443115']"
8,8,115443115,1930275790,1,"['115443115', '115443141', '1930275790']"
9,9,1930275790,115443169,1,"['1930275790', '115443169']"
10,10,614391691,73569654,1,"['614391691', '73569654']"
11,11,73569654,100115120,1,"['73569654', '88047791', '100115120']"
12,12,100115120,100112298,1,"['100115120', '100112298']"
13,13,100112298,73569583,1,"['100112298', '88064245', '73569583']"
14,14,73569583,73213800,1,"['73569583', '73213800']"
15,15,73213800,66909379,1,"['73213800', '88063950', '88080908', '66909379']"
16,16,66909379,66908824,1,"['66909379', '66908824']"
17,17,66908824,101102967,1,"['66908824', '88082282', '101102967']"
18,18,101102967,61104104,1,"['101102967', '61104104']"
19,19,61104104,101102967,1,"['61104104', '101102967']"
20,20,101102967,66908824,1,"['101102967', '88082282', '66908824']"
21,21,66908824,66909379,1,"['66908824', '66909379']"
22,22,66909379,73213800,1,"['66909379', '88080908', '88063950', '73213800']"
23,23,73213800,73569583,1,"['73213800', '73569583']"
24,24,73569583,100112298,1,"['73569583', '88064245', '100112298']"
25,25,100112298,100115120,1,"['100112298', '100115120']"
26,26,100115120,73569654,1,"['100115120', '88047791', '73569654']"
27,27,73569654,614391691,1,"['73569654', '614391691']"
28,28,62542556,558640325,1,"['62542556', '1768006193', '558640325']"
29,29,558640325,1768006012,1,"['558640325', '1768006012']"
...,...,...,...,...,...
94588,94588,844705903,1754441758,1,"['844705903', '92600767', '92600777', '1754441..."
94589,94589,1754441758,461764248,1,"['1754441758', '92601369', '461764248']"
94590,94590,1754441786,827646916,1,"['1754441786', '1754441738', '827645860', '827..."
94591,94591,827646916,827645863,1,"['827646916', '1618053320', '1618053317', '161..."
94592,94592,827645863,1754441781,1,"['827645863', '1754441781']"
94593,94593,5002541034,476794486,1,"['5002541034', '476794486']"
94594,94594,476794486,5002541034,1,"['476794486', '5002541034']"
94595,94595,5002541034,5002541033,1,"['5002541034', '5002541033']"
94596,94596,5002541033,5002541031,1,"['5002541033', '5002541031']"
94597,94597,5002561614,5017787788,1,"['5002561614', '5017787783', '5017787789', '50..."
94598,94598,5021594340,3492884489,1,"['5021594340', '5021594341', '5021594342', '34..."
94599,94599,3492884489,5021594340,1,"['3492884489', '5021594342', '5021594341', '50..."
94600,94600,5022044496,5022044498,1,"['5022044496', '5022044498']"
94601,94601,5022044498,5022044496,1,"['5022044498', '5022044496']"
94602,94602,5022044499,5022044500,1,"['5022044499', '5022044500']"
94603,94603,5022044500,5022044499,1,"['5022044500', '5022044499']"
94604,94604,5022044498,5022044499,1,"['5022044498', '5022044499']"
94605,94605,5022044499,5022044498,1,"['5022044499', '5022044498']"
94606,94606,5022044501,5022044497,1,"['5022044501', '5022044497']"
94607,94607,5022044497,5022044501,1,"['5022044497', '5022044501']"
94608,94608,5022044500,5022044501,1,"['5022044500', '5022044501']"
94609,94609,5022044501,5022044500,1,"['5022044501', '5022044500']"
94610,94610,565166803,5022044659,1,"['565166803', '5022044659']"
94611,94611,5022044659,5022044678,1,"['5022044659', '5022044660', '5022044661', '50..."
94612,94612,5022044678,5022044677,1,"['5022044678', '5022044677']"
94613,94613,5022044677,5022044662,1,"['5022044677', '5022044676', '5022044675', '50..."
94614,94614,5022044662,483172700,1,"['5022044662', '483172700']"
94615,94615,5022044662,266083269,1,"['5022044662', '266083269']"
94616,94616,5027680432,3930645456,1,"['5027680432', '3930645456']"
94617,94617,3930645456,5027680432,1,"['3930645456', '5027680432']"

In [5]:
import pandas as pd
df=pd.read_csv('Nodes.csv')
ddff=pd.read_csv('Edges.csv')
def get_newid(origin_id):
    
    return int(df[df.origin_id==origin_id].loc[:,'new_id'])
    
# print get_newid(25632292)
ddff['from']=ddff['from'].apply(lambda x:get_newid((x)))
ddff['to']=ddff['to'].apply(lambda x:get_newid((x)))
ddff

,id,from,to,cost,nodes
0,0,6850,189663,1,"['115443169', '1930275790']"
1,1,189663,6848,1,"['1930275790', '115443141', '115443115']"
2,2,6848,6847,1,"['115443115', '115443077']"
3,3,6847,7087,1,"['115443077', '115442946', '119891632']"
4,4,7087,189651,1,"['119891632', '1930275776']"
5,5,189651,7087,1,"['1930275776', '119891632']"
6,6,7087,6847,1,"['119891632', '115442946', '115443077']"
7,7,6847,6848,1,"['115443077', '115443115']"
8,8,6848,189663,1,"['115443115', '115443141', '1930275790']"
9,9,189663,6850,1,"['1930275790', '115443169']"
10,10,31137,1496,1,"['614391691', '73569654']"
11,11,1496,5428,1,"['73569654', '88047791', '100115120']"
12,12,5428,5398,1,"['100115120', '100112298']"
13,13,5398,1495,1,"['100112298', '88064245', '73569583']"
14,14,1495,1450,1,"['73569583', '73213800']"
15,15,1450,1189,1,"['73213800', '88063950', '88080908', '66909379']"
16,16,1189,1187,1,"['66909379', '66908824']"
17,17,1187,5517,1,"['66908824', '88082282', '101102967']"
18,18,5517,365,1,"['101102967', '61104104']"
19,19,365,5517,1,"['61104104', '101102967']"
20,20,5517,1187,1,"['101102967', '88082282', '66908824']"
21,21,1187,1189,1,"['66908824', '66909379']"
22,22,1189,1450,1,"['66909379', '88080908', '88063950', '73213800']"
23,23,1450,1495,1,"['73213800', '73569583']"
24,24,1495,5398,1,"['73569583', '88064245', '100112298']"
25,25,5398,5428,1,"['100112298', '100115120']"
26,26,5428,1496,1,"['100115120', '88047791', '73569654']"
27,27,1496,31137,1,"['73569654', '614391691']"
28,28,433,24631,1,"['62542556', '1768006193', '558640325']"
29,29,24631,153668,1,"['558640325', '1768006012']"
...,...,...,...,...,...
94588,94588,45263,148818,1,"['844705903', '92600767', '92600777', '1754441..."
94589,94589,148818,16452,1,"['1754441758', '92601369', '461764248']"
94590,94590,148846,42841,1,"['1754441786', '1754441738', '827645860', '827..."
94591,94591,42841,42818,1,"['827646916', '1618053320', '1618053317', '161..."
94592,94592,42818,148841,1,"['827645863', '1754441781']"
94593,94593,443265,20677,1,"['5002541034', '476794486']"
94594,94594,20677,443265,1,"['476794486', '5002541034']"
94595,94595,443265,443264,1,"['5002541034', '5002541033']"
94596,94596,443264,443262,1,"['5002541033', '5002541031']"
94597,94597,443274,444270,1,"['5002561614', '5017787783', '5017787789', '50..."
94598,94598,445914,284089,1,"['5021594340', '5021594341', '5021594342', '34..."
94599,94599,284089,445914,1,"['3492884489', '5021594342', '5021594341', '50..."
94600,94600,445966,445968,1,"['5022044496', '5022044498']"
94601,94601,445968,445966,1,"['5022044498', '5022044496']"
94602,94602,445969,445970,1,"['5022044499', '5022044500']"
94603,94603,445970,445969,1,"['5022044500', '5022044499']"
94604,94604,445968,445969,1,"['5022044498', '5022044499']"
94605,94605,445969,445968,1,"['5022044499', '5022044498']"
94606,94606,445971,445967,1,"['5022044501', '5022044497']"
94607,94607,445967,445971,1,"['5022044497', '5022044501']"
94608,94608,445970,445971,1,"['5022044500', '5022044501']"
94609,94609,445971,445970,1,"['5022044501', '5022044500']"
94610,94610,26045,446029,1,"['565166803', '5022044659']"
94611,94611,446029,446048,1,"['5022044659', '5022044660', '5022044661', '50..."
94612,94612,446048,446047,1,"['5022044678', '5022044677']"
94613,94613,446047,446032,1,"['5022044677', '5022044676', '5022044675', '50..."
94614,94614,446032,22295,1,"['5022044662', '483172700']"
94615,94615,446032,9448,1,"['5022044662', '266083269']"
94616,94616,446171,334418,1,"['5027680432', '3930645456']"
94617,94617,334418,446171,1,"['3930645456', '5027680432']"

In [6]:
ddff.loc[:,['id','from','to','cost']].to_csv('WA_Edges.csv',index=False)
import pandas as pd
newdf=pd.read_csv('WA_Edges.csv')
# newdf['cost']=newdf['cost'].apply(lambda x:1)
# length=len(newdf)
# file=open('WA_Edges.txt','wb')
# for i in range(length):
#     print>>file,    int(newdf.loc[i,'id']),int(newdf.loc[i,'from']),int(newdf.loc[i,'to']),int(newdf.loc[i,'cost'])

# file.close()