In [1]:
import pandas as pd
highway_df=pd.read_csv('highway.csv')
edge_df=pd.read_csv('Edges.csv')

result=pd.merge(highway_df,edge_df,on=['id','nodes'])
# alldata_df['length']=alldata_df['distance']*1.609344*1000
result

,id,oneway,category,nodes,from,to,cost
0,0,False,residential,"['115443169', '1930275790']",115443169,1930275790,1
1,1,False,residential,"['1930275790', '115443141', '115443115']",1930275790,115443115,1
2,2,False,residential,"['115443115', '115443077']",115443115,115443077,1
3,3,False,residential,"['115443077', '115442946', '119891632']",115443077,119891632,1
4,4,False,residential,"['119891632', '1930275776']",119891632,1930275776,1
5,5,False,residential,"['1930275776', '119891632']",1930275776,119891632,1
6,6,False,residential,"['119891632', '115442946', '115443077']",119891632,115443077,1
7,7,False,residential,"['115443077', '115443115']",115443077,115443115,1
8,8,False,residential,"['115443115', '115443141', '1930275790']",115443115,1930275790,1
9,9,False,residential,"['1930275790', '115443169']",1930275790,115443169,1
10,10,False,residential,"['614391691', '73569654']",614391691,73569654,1
11,11,False,residential,"['73569654', '88047791', '100115120']",73569654,100115120,1
12,12,False,residential,"['100115120', '100112298']",100115120,100112298,1
13,13,False,residential,"['100112298', '88064245', '73569583']",100112298,73569583,1
14,14,False,residential,"['73569583', '73213800']",73569583,73213800,1
15,15,False,residential,"['73213800', '88063950', '88080908', '66909379']",73213800,66909379,1
16,16,False,residential,"['66909379', '66908824']",66909379,66908824,1
17,17,False,residential,"['66908824', '88082282', '101102967']",66908824,101102967,1
18,18,False,residential,"['101102967', '61104104']",101102967,61104104,1
19,19,False,residential,"['61104104', '101102967']",61104104,101102967,1
20,20,False,residential,"['101102967', '88082282', '66908824']",101102967,66908824,1
21,21,False,residential,"['66908824', '66909379']",66908824,66909379,1
22,22,False,residential,"['66909379', '88080908', '88063950', '73213800']",66909379,73213800,1
23,23,False,residential,"['73213800', '73569583']",73213800,73569583,1
24,24,False,residential,"['73569583', '88064245', '100112298']",73569583,100112298,1
25,25,False,residential,"['100112298', '100115120']",100112298,100115120,1
26,26,False,residential,"['100115120', '88047791', '73569654']",100115120,73569654,1
27,27,False,residential,"['73569654', '614391691']",73569654,614391691,1
28,28,True,primary,"['62542556', '1768006193', '558640325']",62542556,558640325,1
29,29,True,primary,"['558640325', '1768006012']",558640325,1768006012,1
...,...,...,...,...,...,...,...
94588,94588,True,trunk,"['844705903', '92600767', '92600777', '1754441...",844705903,1754441758,1
94589,94589,True,trunk,"['1754441758', '92601369', '461764248']",1754441758,461764248,1
94590,94590,True,trunk_link,"['1754441786', '1754441738', '827645860', '827...",1754441786,827646916,1
94591,94591,True,trunk_link,"['827646916', '1618053320', '1618053317', '161...",827646916,827645863,1
94592,94592,True,trunk_link,"['827645863', '1754441781']",827645863,1754441781,1
94593,94593,False,tertiary,"['5002541034', '476794486']",5002541034,476794486,1
94594,94594,False,tertiary,"['476794486', '5002541034']",476794486,5002541034,1
94595,94595,True,primary,"['5002541034', '5002541033']",5002541034,5002541033,1
94596,94596,True,primary,"['5002541033', '5002541031']",5002541033,5002541031,1
94597,94597,True,primary,"['5002561614', '5017787783', '5017787789', '50...",5002561614,5017787788,1
94598,94598,False,tertiary,"['5021594340', '5021594341', '5021594342', '34...",5021594340,3492884489,1
94599,94599,False,tertiary,"['3492884489', '5021594342', '5021594341', '50...",3492884489,5021594340,1
94600,94600,False,service,"['5022044496', '5022044498']",5022044496,5022044498,1
94601,94601,False,service,"['5022044498', '5022044496']",5022044498,5022044496,1
94602,94602,False,service,"['5022044499', '5022044500']",5022044499,5022044500,1
94603,94603,False,service,"['5022044500', '5022044499']",5022044500,5022044499,1
94604,94604,False,service,"['5022044498', '5022044499']",5022044498,5022044499,1
94605,94605,False,service,"['5022044499', '5022044498']",5022044499,5022044498,1
94606,94606,False,service,"['5022044501', '5022044497']",5022044501,5022044497,1
94607,94607,False,service,"['5022044497', '5022044501']",5022044497,5022044501,1
94608,94608,False,service,"['5022044500', '5022044501']",5022044500,5022044501,1
94609,94609,False,service,"['5022044501', '5022044500']",5022044501,5022044500,1
94610,94610,True,secondary,"['565166803', '5022044659']",565166803,5022044659,1
94611,94611,True,secondary,"['5022044659', '5022044660', '5022044661', '50...",5022044659,5022044678,1
94612,94612,True,secondary,"['5022044678', '5022044677']",5022044678,5022044677,1
94613,94613,True,secondary,"['5022044677', '5022044676', '5022044675', '50...",5022044677,5022044662,1
94614,94614,True,secondary,"['5022044662', '483172700']",5022044662,483172700,1
94615,94615,True,secondary,"['5022044662', '266083269']",5022044662,266083269,1
94616,94616,False,primary,"['5027680432', '3930645456']",5027680432,3930645456,1
94617,94617,False,primary,"['3930645456', '5027680432']",3930645456,5027680432,1

In [2]:
new=result.loc[:,['id','category','nodes']]
# new['distance']=new['distance']*1.609344*1000
new['distance']=new['category'].apply(lambda x:1)
new

,id,category,nodes,distance
0,0,residential,"['115443169', '1930275790']",1
1,1,residential,"['1930275790', '115443141', '115443115']",1
2,2,residential,"['115443115', '115443077']",1
3,3,residential,"['115443077', '115442946', '119891632']",1
4,4,residential,"['119891632', '1930275776']",1
5,5,residential,"['1930275776', '119891632']",1
6,6,residential,"['119891632', '115442946', '115443077']",1
7,7,residential,"['115443077', '115443115']",1
8,8,residential,"['115443115', '115443141', '1930275790']",1
9,9,residential,"['1930275790', '115443169']",1
10,10,residential,"['614391691', '73569654']",1
11,11,residential,"['73569654', '88047791', '100115120']",1
12,12,residential,"['100115120', '100112298']",1
13,13,residential,"['100112298', '88064245', '73569583']",1
14,14,residential,"['73569583', '73213800']",1
15,15,residential,"['73213800', '88063950', '88080908', '66909379']",1
16,16,residential,"['66909379', '66908824']",1
17,17,residential,"['66908824', '88082282', '101102967']",1
18,18,residential,"['101102967', '61104104']",1
19,19,residential,"['61104104', '101102967']",1
20,20,residential,"['101102967', '88082282', '66908824']",1
21,21,residential,"['66908824', '66909379']",1
22,22,residential,"['66909379', '88080908', '88063950', '73213800']",1
23,23,residential,"['73213800', '73569583']",1
24,24,residential,"['73569583', '88064245', '100112298']",1
25,25,residential,"['100112298', '100115120']",1
26,26,residential,"['100115120', '88047791', '73569654']",1
27,27,residential,"['73569654', '614391691']",1
28,28,primary,"['62542556', '1768006193', '558640325']",1
29,29,primary,"['558640325', '1768006012']",1
...,...,...,...,...
94588,94588,trunk,"['844705903', '92600767', '92600777', '1754441...",1
94589,94589,trunk,"['1754441758', '92601369', '461764248']",1
94590,94590,trunk_link,"['1754441786', '1754441738', '827645860', '827...",1
94591,94591,trunk_link,"['827646916', '1618053320', '1618053317', '161...",1
94592,94592,trunk_link,"['827645863', '1754441781']",1
94593,94593,tertiary,"['5002541034', '476794486']",1
94594,94594,tertiary,"['476794486', '5002541034']",1
94595,94595,primary,"['5002541034', '5002541033']",1
94596,94596,primary,"['5002541033', '5002541031']",1
94597,94597,primary,"['5002561614', '5017787783', '5017787789', '50...",1
94598,94598,tertiary,"['5021594340', '5021594341', '5021594342', '34...",1
94599,94599,tertiary,"['3492884489', '5021594342', '5021594341', '50...",1
94600,94600,service,"['5022044496', '5022044498']",1
94601,94601,service,"['5022044498', '5022044496']",1
94602,94602,service,"['5022044499', '5022044500']",1
94603,94603,service,"['5022044500', '5022044499']",1
94604,94604,service,"['5022044498', '5022044499']",1
94605,94605,service,"['5022044499', '5022044498']",1
94606,94606,service,"['5022044501', '5022044497']",1
94607,94607,service,"['5022044497', '5022044501']",1
94608,94608,service,"['5022044500', '5022044501']",1
94609,94609,service,"['5022044501', '5022044500']",1
94610,94610,secondary,"['565166803', '5022044659']",1
94611,94611,secondary,"['5022044659', '5022044660', '5022044661', '50...",1
94612,94612,secondary,"['5022044678', '5022044677']",1
94613,94613,secondary,"['5022044677', '5022044676', '5022044675', '50...",1
94614,94614,secondary,"['5022044662', '483172700']",1
94615,94615,secondary,"['5022044662', '266083269']",1
94616,94616,primary,"['5027680432', '3930645456']",1
94617,94617,primary,"['3930645456', '5027680432']",1

In [3]:
import pandas as pd
f=pd.read_csv('Nodes.csv')

def get_node_lat_lon(node_id):
#     if (node_id.contains("'")):
#         node_id=node_id[1:-1]
    node=f[f.origin_id==node_id]
    return str(node.iloc[0,1])+'^'+str(node.iloc[0,2])

# get_node_lat_lon(4704039842)

def format(strlist):
    list=[eval(node_id) for node_id in eval(strlist)]
    
    str=''
    for i in range(len(list)):
        str=str+'^'+get_node_lat_lon(list[i])
    return str

new['strnodes']=new['nodes'].apply(lambda x: format(x))
new

,id,category,nodes,distance,strnodes
0,0,residential,"['115443169', '1930275790']",1,^31.263319^121.5555711^31.2619722^121.5564754
1,1,residential,"['1930275790', '115443141', '115443115']",1,^31.2619722^121.5564754^31.2611567^121.557023^...
2,2,residential,"['115443115', '115443077']",1,^31.2610903^121.557088^31.2609836^121.5571676
3,3,residential,"['115443077', '115442946', '119891632']",1,^31.2609836^121.5571676^31.2608953^121.5572094...
4,4,residential,"['119891632', '1930275776']",1,^31.2585346^121.5589778^31.2559083^121.5609586
5,5,residential,"['1930275776', '119891632']",1,^31.2559083^121.5609586^31.2585346^121.5589778
6,6,residential,"['119891632', '115442946', '115443077']",1,^31.2585346^121.5589778^31.2608953^121.5572094...
7,7,residential,"['115443077', '115443115']",1,^31.2609836^121.5571676^31.2610903^121.557088
8,8,residential,"['115443115', '115443141', '1930275790']",1,^31.2610903^121.557088^31.2611567^121.557023^3...
9,9,residential,"['1930275790', '115443169']",1,^31.2619722^121.5564754^31.263319^121.5555711
10,10,residential,"['614391691', '73569654']",1,^31.235022^121.5835263^31.2351966^121.5834866
11,11,residential,"['73569654', '88047791', '100115120']",1,^31.2351966^121.5834866^31.235295^121.5834526^...
12,12,residential,"['100115120', '100112298']",1,^31.2361326^121.5830876^31.2368004^121.5827872
13,13,residential,"['100112298', '88064245', '73569583']",1,^31.2368004^121.5827872^31.2378839^121.5823217...
14,14,residential,"['73569583', '73213800']",1,^31.2379226^121.5823074^31.2380165^121.5822799
15,15,residential,"['73213800', '88063950', '88080908', '66909379']",1,^31.2380165^121.5822799^31.2380734^121.5822514...
16,16,residential,"['66909379', '66908824']",1,^31.2420035^121.5805041^31.2420989^121.5804612
17,17,residential,"['66908824', '88082282', '101102967']",1,^31.2420989^121.5804612^31.242164^121.5804233^...
18,18,residential,"['101102967', '61104104']",1,^31.2433685^121.579683^31.2442536^121.5791369
19,19,residential,"['61104104', '101102967']",1,^31.2442536^121.5791369^31.2433685^121.579683
20,20,residential,"['101102967', '88082282', '66908824']",1,^31.2433685^121.579683^31.242164^121.5804233^3...
21,21,residential,"['66908824', '66909379']",1,^31.2420989^121.5804612^31.2420035^121.5805041
22,22,residential,"['66909379', '88080908', '88063950', '73213800']",1,^31.2420035^121.5805041^31.2419794^121.5805132...
23,23,residential,"['73213800', '73569583']",1,^31.2380165^121.5822799^31.2379226^121.5823074
24,24,residential,"['73569583', '88064245', '100112298']",1,^31.2379226^121.5823074^31.2378839^121.5823217...
25,25,residential,"['100112298', '100115120']",1,^31.2368004^121.5827872^31.2361326^121.5830876
26,26,residential,"['100115120', '88047791', '73569654']",1,^31.2361326^121.5830876^31.235295^121.5834526^...
27,27,residential,"['73569654', '614391691']",1,^31.2351966^121.5834866^31.235022^121.5835263
28,28,primary,"['62542556', '1768006193', '558640325']",1,^31.2244931^121.5349944^31.2248458^121.5352948...
29,29,primary,"['558640325', '1768006012']",1,^31.2248822^121.5353357^31.224948^121.5354547
...,...,...,...,...,...
94588,94588,trunk,"['844705903', '92600767', '92600777', '1754441...",1,^31.3044971^121.4442047^31.3026348^121.4442376...
94589,94589,trunk,"['1754441758', '92601369', '461764248']",1,^31.3000777^121.4443762^31.2991264^121.4445133...
94590,94590,trunk_link,"['1754441786', '1754441738', '827645860', '827...",1,^31.2989825^121.4443194^31.2986067^121.4443676...
94591,94591,trunk_link,"['827646916', '1618053320', '1618053317', '161...",1,^31.2973837^121.4446282^31.2972209^121.4446202...
94592,94592,trunk_link,"['827645863', '1754441781']",1,^31.2960372^121.4441555^31.2953627^121.443781
94593,94593,tertiary,"['5002541034', '476794486']",1,^31.2280596^121.4685613^31.2279786^121.4686119
94594,94594,tertiary,"['476794486', '5002541034']",1,^31.2279786^121.4686119^31.2280596^121.4685613
94595,94595,primary,"['5002541034', '5002541033']",1,^31.2280596^121.4685613^31.226969^121.4657209
94596,94596,primary,"['5002541033', '5002541031']",1,^31.226969^121.4657209^31.2265114^121.4645112
94597,94597,primary,"['5002561614', '5017787783', '5017787789', '50...",1,^31.22775^121.4687088^31.2282201^121.4698952^3...
94598,94598,tertiary,"['5021594340', '5021594341', '5021594342', '34...",1,^31.2012632^121.205614^31.2016237^121.2082897^...
94599,94599,tertiary,"['3492884489', '5021594342', '5021594341', '50...",1,^31.2021826^121.2121692^31.202135^121.2114466^...
94600,94600,service,"['5022044496', '5022044498']",1,^31.272237^121.4728223^31.2725271^121.4729784
94601,94601,service,"['5022044498', '5022044496']",1,^31.2725271^121.4729784^31.272237^121.4728223
94602,94602,service,"['5022044499', '5022044500']",1,^31.2726909^121.4730666^31.2731287^121.4733023
94603,94603,service,"['5022044500', '5022044499']",1,^31.2731287^121.4733023^31.2726909^121.4730666
94604,94604,service,"['5022044498', '5022044499']",1,^31.2725271^121.4729784^31.2726909^121.4730666
94605,94605,service,"['5022044499', '5022044498']",1,^31.2726909^121.4730666^31.2725271^121.4729784
94606,94606,service,"['5022044501', '5022044497']",1,^31.2732834^121.4733856^31.2735665^121.473538
94607,94607,service,"['5022044497', '5022044501']",1,^31.2735665^121.473538^31.2732834^121.4733856
94608,94608,service,"['5022044500', '5022044501']",1,^31.2731287^121.4733023^31.2732834^121.4733856
94609,94609,service,"['5022044501', '5022044500']",1,^31.2732834^121.4733856^31.2731287^121.4733023
94610,94610,secondary,"['565166803', '5022044659']",1,^31.2809824^121.4775193^31.2805683^121.4774083
94611,94611,secondary,"['5022044659', '5022044660', '5022044661', '50...",1,^31.2805683^121.4774083^31.2803102^121.4773245...
94612,94612,secondary,"['5022044678', '5022044677']",1,^31.2771934^121.4758579^31.2770758^121.4757816
94613,94613,secondary,"['5022044677', '5022044676', '5022044675', '50...",1,^31.2770758^121.4757816^31.2767382^121.475578^...
94614,94614,secondary,"['5022044662', '483172700']",1,^31.2717207^121.4751479^31.2715289^121.4752391
94615,94615,secondary,"['5022044662', '266083269']",1,^31.2717207^121.4751479^31.2715488^121.4750459
94616,94616,primary,"['5027680432', '3930645456']",1,^31.2238464^121.4038636^31.2224725^121.4006309
94617,94617,primary,"['3930645456', '5027680432']",1,^31.2224725^121.4006309^31.2238464^121.4038636

In [4]:
new.loc[:,['id','category','distance','nodes','strnodes']].to_csv('WA_EdgeGeometry.csv',index=False)

In [5]:
import pandas as pd
new=pd.read_csv('WA_EdgeGeometry.csv')
# new['distance']=new['distance'].apply(lambda x:1)
length=len(new)
file=open('WA_EdgeGeometry.txt','wb')
for i in range(length):
    print>>file,    str(int(new.loc[i,'id']))+'^^'+str(new.loc[i,'category'])+'^'+str(int(new.loc[i,'distance']))+str(new.loc[i,'strnodes'])

file.close()