In [1]:
import pandas as pd
df = pd.read_csv('Edges.csv')
df

,id,from,to,cost,nodes
0,0,115443169,1930275790,1,"['115443169', '1930275790']"
1,1,1930275790,115443115,1,"['1930275790', '115443141', '115443115']"
2,2,115443115,115443077,1,"['115443115', '115443077']"
3,3,115443077,119891632,1,"['115443077', '115442946', '119891632']"
4,4,119891632,1930275776,1,"['119891632', '1930275776']"
5,5,1930275776,119891632,1,"['1930275776', '119891632']"
6,6,119891632,115443077,1,"['119891632', '115442946', '115443077']"
7,7,115443077,115443115,1,"['115443077', '115443115']"
8,8,115443115,1930275790,1,"['115443115', '115443141', '1930275790']"
9,9,1930275790,115443169,1,"['1930275790', '115443169']"
10,10,614391691,73569654,1,"['614391691', '73569654']"
11,11,73569654,100115120,1,"['73569654', '88047791', '100115120']"
12,12,100115120,100112298,1,"['100115120', '100112298']"
13,13,100112298,73569583,1,"['100112298', '88064245', '73569583']"
14,14,73569583,73213800,1,"['73569583', '73213800']"
15,15,73213800,66909379,1,"['73213800', '88063950', '88080908', '66909379']"
16,16,66909379,66908824,1,"['66909379', '66908824']"
17,17,66908824,101102967,1,"['66908824', '88082282', '101102967']"
18,18,101102967,61104104,1,"['101102967', '61104104']"
19,19,61104104,101102967,1,"['61104104', '101102967']"
20,20,101102967,66908824,1,"['101102967', '88082282', '66908824']"
21,21,66908824,66909379,1,"['66908824', '66909379']"
22,22,66909379,73213800,1,"['66909379', '88080908', '88063950', '73213800']"
23,23,73213800,73569583,1,"['73213800', '73569583']"
24,24,73569583,100112298,1,"['73569583', '88064245', '100112298']"
25,25,100112298,100115120,1,"['100112298', '100115120']"
26,26,100115120,73569654,1,"['100115120', '88047791', '73569654']"
27,27,73569654,614391691,1,"['73569654', '614391691']"
28,28,62542556,558640325,1,"['62542556', '1768006193', '558640325']"
29,29,558640325,1768006012,1,"['558640325', '1768006012']"
...,...,...,...,...,...
94588,94588,844705903,1754441758,1,"['844705903', '92600767', '92600777', '1754441..."
94589,94589,1754441758,461764248,1,"['1754441758', '92601369', '461764248']"
94590,94590,1754441786,827646916,1,"['1754441786', '1754441738', '827645860', '827..."
94591,94591,827646916,827645863,1,"['827646916', '1618053320', '1618053317', '161..."
94592,94592,827645863,1754441781,1,"['827645863', '1754441781']"
94593,94593,5002541034,476794486,1,"['5002541034', '476794486']"
94594,94594,476794486,5002541034,1,"['476794486', '5002541034']"
94595,94595,5002541034,5002541033,1,"['5002541034', '5002541033']"
94596,94596,5002541033,5002541031,1,"['5002541033', '5002541031']"
94597,94597,5002561614,5017787788,1,"['5002561614', '5017787783', '5017787789', '50..."
94598,94598,5021594340,3492884489,1,"['5021594340', '5021594341', '5021594342', '34..."
94599,94599,3492884489,5021594340,1,"['3492884489', '5021594342', '5021594341', '50..."
94600,94600,5022044496,5022044498,1,"['5022044496', '5022044498']"
94601,94601,5022044498,5022044496,1,"['5022044498', '5022044496']"
94602,94602,5022044499,5022044500,1,"['5022044499', '5022044500']"
94603,94603,5022044500,5022044499,1,"['5022044500', '5022044499']"
94604,94604,5022044498,5022044499,1,"['5022044498', '5022044499']"
94605,94605,5022044499,5022044498,1,"['5022044499', '5022044498']"
94606,94606,5022044501,5022044497,1,"['5022044501', '5022044497']"
94607,94607,5022044497,5022044501,1,"['5022044497', '5022044501']"
94608,94608,5022044500,5022044501,1,"['5022044500', '5022044501']"
94609,94609,5022044501,5022044500,1,"['5022044501', '5022044500']"
94610,94610,565166803,5022044659,1,"['565166803', '5022044659']"
94611,94611,5022044659,5022044678,1,"['5022044659', '5022044660', '5022044661', '50..."
94612,94612,5022044678,5022044677,1,"['5022044678', '5022044677']"
94613,94613,5022044677,5022044662,1,"['5022044677', '5022044676', '5022044675', '50..."
94614,94614,5022044662,483172700,1,"['5022044662', '483172700']"
94615,94615,5022044662,266083269,1,"['5022044662', '266083269']"
94616,94616,5027680432,3930645456,1,"['5027680432', '3930645456']"
94617,94617,3930645456,5027680432,1,"['3930645456', '5027680432']"

In [2]:
length=len(df)
# press_nodes=set()
press_nodes = set(df['from']) | set(df['to'])
# for i in range(length):
    
#     nodes=eval(df.iloc[i,4])
#     nodes_list=[nodes[0],nodes[-1]]
#     for node in  nodes_list:
#         press_nodes.add(node)
    
# print press_nodes
len(press_nodes)

43259

In [3]:
press_nodes=[int(node) for node in press_nodes]
ndf=pd.read_csv('Nodes.csv')
new_ndf=ndf[ndf['origin_id'].isin(press_nodes)]
new_ndf

         origin_id        lat         lon  new_id
365       61104104  31.244254  121.579137     365
366       61104668  31.240739  121.571341     366
367       61104683  31.241960  121.570549     367
370       61104687  31.238660  121.572230     370
371       61114908  31.239023  121.565010     371
376       61416414  31.233926  121.569099     376
377       61417650  31.243179  121.573733     377
379       61419236  31.236536  121.577826     379
381       62511624  31.236478  121.587508     381
382       62512458  31.228962  121.566265     382
383       62516498  31.206999  121.562981     383
385       62516500  31.205899  121.558480     385
386       62516501  31.205941  121.555302     386
400       62520344  31.206103  121.555124     400
403       62521714  31.200719  121.539801     403
409       62523896  31.207517  121.564110     409
410       62528608  31.236606  121.577705     410
412       62529726  31.233808  121.579070     412
414       62531491  31.240126  121.575873     414
415       62531492  31.238722  121.572203     415
418       62540332  31.243919  121.559527     418
419       62540333  31.243111  121.558557     419
421       62540336  31.240642  121.553898     421
422       62540338  31.237801  121.547707     422
423       62540339  31.236849  121.545181     423
424       62540343  31.233251  121.535664     424
425       62540344  31.232251  121.533987     425
427       62540346  31.229250  121.526285     427
428       62540347  31.229363  121.525741     428
429       62540348  31.229549  121.525110     429
...            ...        ...         ...     ...
443873  5016330946  31.226947  121.466227  443873
443875  5016330948  31.217967  121.431359  443875
443876  5016330949  31.211533  121.418445  443876
443879  5016330952  31.209757  121.410405  443879
443880  5016330953  31.186938  121.356687  443880
443881  5016330954  31.186716  121.358653  443881
443882  5016330955  31.184920  121.354304  443882
443883  5016330956  31.191771  121.352503  443883
443884  5016330957  31.191800  121.352939  443884
443886  5016366577  31.211633  121.468283  443886
443887  5016366578  31.211033  121.468626  443887
443888  5016366579  31.212643  121.467677  443888
443889  5016366580  31.231008  121.462725  443889
443890  5016366581  31.248979  121.458480  443890
443891  5016366582  31.249767  121.458628  443891
444267  5017787785  31.228739  121.470481  444267
444270  5017787788  31.228924  121.471575  444270
445561  5019913667  31.328467  121.527205  445561
445914  5021594340  31.201263  121.205614  445914
445966  5022044496  31.272237  121.472822  445966
445967  5022044497  31.273566  121.473538  445967
445968  5022044498  31.272527  121.472978  445968
445969  5022044499  31.272691  121.473067  445969
445970  5022044500  31.273129  121.473302  445970
445971  5022044501  31.273283  121.473386  445971
446029  5022044659  31.280568  121.477408  446029
446032  5022044662  31.271721  121.475148  446032
446047  5022044677  31.277076  121.475782  446047
446048  5022044678  31.277193  121.475858  446048
446171  5027680432  31.223846  121.403864  446171

[43259 rows x 4 columns]

In [4]:
print new_ndf.index
print len(new_ndf.index)

Int64Index([   365,    366,    367,    370,    371,    376,    377,    379,
               381,    382,
            ...
            445967, 445968, 445969, 445970, 445971, 446029, 446032, 446047,
            446048, 446171],
           dtype='int64', length=43259)
43259

In [5]:
index=pd.Series(range(len(new_ndf.index)))
new_ndf.index=index
new_ndf['new_id']=index
new_ndf

/root/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

        origin_id        lat         lon  new_id
0        61104104  31.244254  121.579137       0
1        61104668  31.240739  121.571341       1
2        61104683  31.241960  121.570549       2
3        61104687  31.238660  121.572230       3
4        61114908  31.239023  121.565010       4
5        61416414  31.233926  121.569099       5
6        61417650  31.243179  121.573733       6
7        61419236  31.236536  121.577826       7
8        62511624  31.236478  121.587508       8
9        62512458  31.228962  121.566265       9
10       62516498  31.206999  121.562981      10
11       62516500  31.205899  121.558480      11
12       62516501  31.205941  121.555302      12
13       62520344  31.206103  121.555124      13
14       62521714  31.200719  121.539801      14
15       62523896  31.207517  121.564110      15
16       62528608  31.236606  121.577705      16
17       62529726  31.233808  121.579070      17
18       62531491  31.240126  121.575873      18
19       62531492  31.238722  121.572203      19
20       62540332  31.243919  121.559527      20
21       62540333  31.243111  121.558557      21
22       62540336  31.240642  121.553898      22
23       62540338  31.237801  121.547707      23
24       62540339  31.236849  121.545181      24
25       62540343  31.233251  121.535664      25
26       62540344  31.232251  121.533987      26
27       62540346  31.229250  121.526285      27
28       62540347  31.229363  121.525741      28
29       62540348  31.229549  121.525110      29
...           ...        ...         ...     ...
43229  5016330946  31.226947  121.466227   43229
43230  5016330948  31.217967  121.431359   43230
43231  5016330949  31.211533  121.418445   43231
43232  5016330952  31.209757  121.410405   43232
43233  5016330953  31.186938  121.356687   43233
43234  5016330954  31.186716  121.358653   43234
43235  5016330955  31.184920  121.354304   43235
43236  5016330956  31.191771  121.352503   43236
43237  5016330957  31.191800  121.352939   43237
43238  5016366577  31.211633  121.468283   43238
43239  5016366578  31.211033  121.468626   43239
43240  5016366579  31.212643  121.467677   43240
43241  5016366580  31.231008  121.462725   43241
43242  5016366581  31.248979  121.458480   43242
43243  5016366582  31.249767  121.458628   43243
43244  5017787785  31.228739  121.470481   43244
43245  5017787788  31.228924  121.471575   43245
43246  5019913667  31.328467  121.527205   43246
43247  5021594340  31.201263  121.205614   43247
43248  5022044496  31.272237  121.472822   43248
43249  5022044497  31.273566  121.473538   43249
43250  5022044498  31.272527  121.472978   43250
43251  5022044499  31.272691  121.473067   43251
43252  5022044500  31.273129  121.473302   43252
43253  5022044501  31.273283  121.473386   43253
43254  5022044659  31.280568  121.477408   43254
43255  5022044662  31.271721  121.475148   43255
43256  5022044677  31.277076  121.475782   43256
43257  5022044678  31.277193  121.475858   43257
43258  5027680432  31.223846  121.403864   43258

[43259 rows x 4 columns]

In [6]:

length=len(new_ndf)
file=open('WA_Nodes.txt','wb')
for i in range(length):
    print>>file,    int(new_ndf.loc[i,'new_id']),new_ndf.loc[i,'lat'],new_ndf.loc[i,'lon']

file.close()

In [7]:

def get_newid(origin_id):
    
    return int(new_ndf[new_ndf.origin_id==origin_id].loc[:,'new_id'])
df['from']=df['from'].apply(lambda x:get_newid((x)))
df['to']=df['to'].apply(lambda x:get_newid((x)))
df

,id,from,to,cost,nodes
0,0,1229,27717,1,"['115443169', '1930275790']"
1,1,27717,1228,1,"['1930275790', '115443141', '115443115']"
2,2,1228,1227,1,"['115443115', '115443077']"
3,3,1227,1290,1,"['115443077', '115442946', '119891632']"
4,4,1290,27716,1,"['119891632', '1930275776']"
5,5,27716,1290,1,"['1930275776', '119891632']"
6,6,1290,1227,1,"['119891632', '115442946', '115443077']"
7,7,1227,1228,1,"['115443077', '115443115']"
8,8,1228,27717,1,"['115443115', '115443141', '1930275790']"
9,9,27717,1229,1,"['1930275790', '115443169']"
10,10,6951,334,1,"['614391691', '73569654']"
11,11,334,948,1,"['73569654', '88047791', '100115120']"
12,12,948,937,1,"['100115120', '100112298']"
13,13,937,333,1,"['100112298', '88064245', '73569583']"
14,14,333,313,1,"['73569583', '73213800']"
15,15,313,215,1,"['73213800', '88063950', '88080908', '66909379']"
16,16,215,214,1,"['66909379', '66908824']"
17,17,214,966,1,"['66908824', '88082282', '101102967']"
18,18,966,0,1,"['101102967', '61104104']"
19,19,0,966,1,"['61104104', '101102967']"
20,20,966,214,1,"['101102967', '88082282', '66908824']"
21,21,214,215,1,"['66908824', '66909379']"
22,22,215,313,1,"['66909379', '88080908', '88063950', '73213800']"
23,23,313,333,1,"['73213800', '73569583']"
24,24,333,937,1,"['73569583', '88064245', '100112298']"
25,25,937,948,1,"['100112298', '100115120']"
26,26,948,334,1,"['100115120', '88047791', '73569654']"
27,27,334,6951,1,"['73569654', '614391691']"
28,28,32,5195,1,"['62542556', '1768006193', '558640325']"
29,29,5195,25179,1,"['558640325', '1768006012']"
...,...,...,...,...,...
94588,94588,10455,24579,1,"['844705903', '92600767', '92600777', '1754441..."
94589,94589,24579,3264,1,"['1754441758', '92601369', '461764248']"
94590,94590,24583,9628,1,"['1754441786', '1754441738', '827645860', '827..."
94591,94591,9628,9624,1,"['827646916', '1618053320', '1618053317', '161..."
94592,94592,9624,24582,1,"['827645863', '1754441781']"
94593,94593,43209,4218,1,"['5002541034', '476794486']"
94594,94594,4218,43209,1,"['476794486', '5002541034']"
94595,94595,43209,43208,1,"['5002541034', '5002541033']"
94596,94596,43208,43206,1,"['5002541033', '5002541031']"
94597,94597,43215,43245,1,"['5002561614', '5017787783', '5017787789', '50..."
94598,94598,43247,36673,1,"['5021594340', '5021594341', '5021594342', '34..."
94599,94599,36673,43247,1,"['3492884489', '5021594342', '5021594341', '50..."
94600,94600,43248,43250,1,"['5022044496', '5022044498']"
94601,94601,43250,43248,1,"['5022044498', '5022044496']"
94602,94602,43251,43252,1,"['5022044499', '5022044500']"
94603,94603,43252,43251,1,"['5022044500', '5022044499']"
94604,94604,43250,43251,1,"['5022044498', '5022044499']"
94605,94605,43251,43250,1,"['5022044499', '5022044498']"
94606,94606,43253,43249,1,"['5022044501', '5022044497']"
94607,94607,43249,43253,1,"['5022044497', '5022044501']"
94608,94608,43252,43253,1,"['5022044500', '5022044501']"
94609,94609,43253,43252,1,"['5022044501', '5022044500']"
94610,94610,5469,43254,1,"['565166803', '5022044659']"
94611,94611,43254,43257,1,"['5022044659', '5022044660', '5022044661', '50..."
94612,94612,43257,43256,1,"['5022044678', '5022044677']"
94613,94613,43256,43255,1,"['5022044677', '5022044676', '5022044675', '50..."
94614,94614,43255,4810,1,"['5022044662', '483172700']"
94615,94615,43255,1652,1,"['5022044662', '266083269']"
94616,94616,43258,38294,1,"['5027680432', '3930645456']"
94617,94617,38294,43258,1,"['3930645456', '5027680432']"

In [8]:
length=len(df)
file=open('WA_Edges.txt','wb')
for i in range(length):
    print>>file,    int(df.loc[i,'id']),int(df.loc[i,'from']),int(df.loc[i,'to']),int(df.loc[i,'cost'])

file.close()